{% extends "base.html" %}
{% block cssbody%}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/cal-month-make.css">
{% endblock %}

{% block mainbody %}
<div class="container">
{% csrf_token %}
<div id="calendar-panel">

    <!--<div class="calendar">-->
        <!--<div class="header">-->
            <!--<a data-action="prev-month" href="javascript:void(0)" title="Previous Month"><i></i></a>-->
            <!--<div class="text" data-render="month-year"></div>-->
            <!--<a data-action="next-month" href="javascript:void(0)" title="Next Month"><i></i></a>-->
        <!--</div>-->
        <!--<div class="months" data-flow="left">-->
            <!--<div class="month month-a">-->
                <!--<div class="render render-a"></div>-->
            <!--</div>-->
            <!--<div class="month month-b">-->
                <!--<div class="render render-b"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>
</div>
<script src="/static/js/cal-month-make.js"></script>
{% endblock %}

